

.body-hs {
    width:90%;
    margin:0 auto;
    margin-top:20px; 
    margin-bottom: 20px;
    text-align:center;
    background:white;

     
    @mixin atSmall {
        width:90%;
        background:white;   
    } 
    
    @mixin atMedium {
        width:100%;
    }
    
    @mixin atLarge {
        width:1000px;
    }
    
    
    &__main {
        width:100%;
        margin:0 auto;
    

        @mixin atMedium {
            width:600px;
        }

        @mixin atLarge {
            float:left;
        }
        
    }
    
    &__main-1 {
        width:100%;
        border:1px solid black;
        background:#999;
        
        &__squat2 {
           width:100%;
           display:block;
            
            @mixin atMedium {
                display:none;
            }
        }
            
        @mixin atMedium {
            height:400px;
            width:100%;
        }
        
           
        
    }
    
    &__main-2 {
        width:100%;
        height:400px;
        margin-top:20px;
        border:1px solid black;
        background:#999;
    }
    
    &__side {
        
        
        @mixin atLarge {
            margin-left:50px;            
            width:340px;
            float:left;
            height:800px;
        }
    }
        
    &__side-1 {
            
        @mixin atLarge {
            width:100%;
            height:200px;
            border:1px solid black;
            background:#999;
                
        }
    }
    
    &__side-2 {
        
        @mixin atLarge {
            width:100%;
            margin-top:20px;
            height:200px;
            background:#999;
            border:1px solid black;
        }
    }
    
    &__side-3 {
        
        @mixin atLarge {
            width:100%;
            margin-top:20px;
            height:200px;
            background:#999;
            border:1px solid black;
        }
    }
    
    
}
