.sub-header-hs {
    
    position:relative;
    display:none;
    overflow:hidden;
    
    @mixin atMedium {
        width:100%;
        height:250px;
        border:1px solid black;
        display:block;
    }
   
    
    @mixin atLarge {
        height:350px;
    }
    
    /*
    &__img {
        position:absolute;
        left:-9999px;
        
        @mixin atMedium {
            left:0;
        }
    }
    */
    

}