.mobile-menu-bin {
    position:relative;



    &__menu-icon {
        position:absolute;
        height:24px;
        width:30px;
        right:20px;
        top:-33px;
        z-index:5;

        &--close-x {
          &::before {
            transform:rotate(33deg) scaleX(1.20);

          }

          .mobile-menu-bin__menu-icon__middle {
            width:0;
          }

          &::after {
            transform: rotate(-33deg) scaleX(1.20);



          }

        }

        @mixin atMedium {
            top:-50px;
            right:30px;
        }

        @mixin atLarge {
            display:none;
        }


        &::before {
            content:"";
            height:4px;
            top:0px;
            position:absolute;
            width:100%;
            background:black;
            transform-origin: 0 0;
            transition:transform .3s ease-out;
        }

        &__middle {
            height:4px;
            width:100%;
            position:absolute;
            top:10px;
            background:black;
            transform-origin: 100% 0;
            transition:width .3s ease-out;

        }

        &::after {
            content:"";
            height:4px;
            position:absolute;
            bottom:0px;
            width:100%;
            background:black;
            transform-origin:0 100%;
            transition:transform .3s ease-out;
        }

    }





    &__menu-content {


        position:absolute;
        width:200px;
        background:#c1c2be;
        padding:10px;
        top:-200px;
        left:30%;
        text-align:center;
        z-index:4;
        border-top:1px solid #999;
        transition:top .3s ease-out;




        @mixin atMedium {
            width:300px;
        }


        &__li {
            list-style:none;
        }

        &__a {
            background:#c1c2be;
            text-decoration:none;
            display:block;
            border-bottom:1px solid #888;
            color:black;
            padding:7px 15px;

            &--last {
                border-bottom:none;
                color:black;
                display:block;
                padding:7px 15px;

                &:hover {
                  color:white;
                  font-weight:500;
                  padding:10px 15px;
                }
            }

            &:hover {
                color:white;
                font-weight:500;
                padding:10px 15px;
            }
        }

        &--is-visible {
          top:0;
        }
    }


}
