* {
    margin:0;
    padding:0;
    position:relative;
    font-family:raleway;
}

html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    text-decoration: none;
}

.waypoint-anchor {
  height:1px;
  width:1px;
  position:absolute;
  top:-73px;
  left:500px;
  z-index:10;
}


.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */
