$lG: rgb(220,220,220);
$dG: rgb(200,20,20);

$blue-1:#233759;
$blue-2:#75a7f9;
$blue-3:#3e64a3;
$blue-4:#d9e6fc;

$code-blue:#5ed9ef;
$code-purple:#bd93f9;
$code-green:#4ce654;
$code-black:#282a36;
$code-pink:#ff79af;

$orange:#e87f06;

$A-blue1:rgb(40,40,50);
$A-blue2:rgb(92,95,138);
$A-grey1:rgb(60,60,60);
$A-grey2:rgb(140,140,140);
$A-grey3:rgb(195,195,195);